# Dependencies
node_modules/

# Next.js build output
.next/
out/

# Env files
.env*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vercel local config
.vercel/

# OS junk
.DS_Store
Thumbs.db
